pymongo
pymupdf
ipykernel
dotenv
langchain
langchain_community
langchain_openai
langchain_groq
langchain-cohere
structlog 
pytest
streamlit    
fastapi   
uvicorn
python-multipart
pyyaml
pandas
boto3

